name: E2E
on:
  push:
    branches:
      - main
  workflow_dispatch: 
jobs:
  e2e:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v5
    - name: Установка Node.js
      uses: actions/setup-node@v5
      with:
        node-version: lts/*
    - name: Установка пакетов
      run: npm ci
    - name: Установка браузеров
      run: npx playwright install --with-deps
    - name: Запуск тестов
      run: npx playwright test
    - name: Генерация Allure в одном файле
      run: npm run allureFile
      if: always()
      continue-on-error: true
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      continue-on-error: true
      with:
        name: allure-report
        path: allure-report/
        retention-days: 30
